.about_cont{
    padding-left: 10%;
    padding-right: 10%;
}
.about_text1{
    font-size: 25px;
}
.about_text1>span{
    color:red;
}
.about_text2{
    font-size: 60px;
    font-weight: bold;
    margin: -15px 0;
}
.about_text3 span{
    color: red;
}
.about_text3{
    font-size: 40px;
}
.about_desc{
    font-size: 20px;
    color:whitesmoke;
}
.about_desc li{
    margin-top: 6px;
}
.about_desc span{
    color: yellow;
}
.about_desc p{
    line-height: 25px;
    font-size: 20px;
}
#highlight{
    color:red;
    font-size: 25px;
}
#gitImg{
    margin-right: 15px;
}
.about_button{
    font-size: 20px;
    padding:8px 16px;
    margin-top: 30px;
    background-color: #080808;
    color:red;
}