.nav_container{
    background-color: black;
    padding:0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
}
.nav_left{
    font-size: 40px;
    font-weight: bold;
    color: red;
}
.nav_right{
    display: flex;
}
.nav_right p{
    margin-left: 12px;
    margin-right: 12px;
    padding:10px 12px;
    font-size: 20px;
}
.nav_right > p:hover{
    background-color: lightgrey;
    color: black;
    cursor: pointer;
    border-radius: 10px;
}
hr{
    width:100%;
}